<% content_for :google_candlesticks_scripts do %>
  <%= javascript_include_tag "candlesticks.js" %>
<% end %>

<h4><%= link_to "Home", root_path %></h4>
<hr>
 
<div class='container'></div>
<h1>WEX Candlesticks</h1>
<div id="chart_div"></div>
